<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>green_screen_feature_flag</key>
	<true/>
	<key>red_screen_feature_flag</key>
	<true/>
	<key>yellow_screen_feature_flag</key>
	<true/>
</dict>
</plist>
