<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341540737870-gu4bpnj0juuon1ts3j8jtetvisdgebur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341540737870-gu4bpnj0juuon1ts3j8jtetvisdgebur</string>
	<key>API_KEY</key>
	<string>AIzaSyBoUAdO--uI_i8f-nuCpjMgTqWfRcr4mSA</string>
	<key>GCM_SENDER_ID</key>
	<string>341540737870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xwrobelex.app.RemoteConfigsSampleProject</string>
	<key>PROJECT_ID</key>
	<string>sampleremoteconfigs</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleremoteconfigs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341540737870:ios:0f06118767d89e2c73441f</string>
</dict>
</plist>